@import url('https://fonts.googleapis.com/css?family=Bad+Script|Oleo+Script|Rock+Salt&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  /* text-align: center; */
  /* padding: 50px; */
  font-size:60px;
  /* color: #000; */
  font-family: 'Rock Salt', cursive;
  /* border-bottom: 1pt solid black; */
  /* background-color: rgba(255, 255, 255, 0.76); */
}

#image {
  width: 100%;

}

aside {
  display: flex;
  height: 100px;
  border: #AA915F solid 2pt;
}

#header{
  background-color: rgba(255, 255, 255, 0.80);
  text-align: center;
  padding: 20px;
  border: #AA915F solid 2pt;
  margin: 0 200px
}

h5 {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

h3 {
  font-family: 'Oleo Script', cursive;
}

h2 {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  padding: 30px;
}

p {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 18px;
}

h4 {
  text-align: center;
  font-family: 'Oleo Script', cursive;
}

body {
  background-image: url('background-img.png');
  /* background-color: rgba(0, 0, 0, 0.808); */
  background-color: #000
}

.container-fluid {
  min-width: 1600px;
}

.food-list {
  background-color: rgba(255, 255, 255, 0.80);
  margin-top: 50px;
  margin-left: 70px;
  border: #AA915F solid 2pt;
}

.order-form {
  background-color: rgba(255, 255, 255, 0.80);
  margin-top: 50px;
  margin-right: 70px;
  border: #AA915F solid 2pt;
  height: 950px;
}

.MenuApp {
  margin: 50px 200px;
}

ul {
  padding: none;
  list-style: none;
}

li {
  padding: 15px;
}


#food-row {
  border-top: #000 solid 4pt;
}

#place-order {
  color: #AA915F;
  border: #AA915F solid 1pt;
  background: linear-gradient(to right, #fff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all .5s ease;
}

#place-order:hover {
  background-position: left bottom;
}

#add-item {
  color: #AA915F;
  height: 50px;
  border: #AA915F solid 1pt;
  background: linear-gradient(to right, #fff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease;
}

#add-item:hover {
  background-position: left bottom;
}

#order-row {
  text-align: center;
}

#food-order {
  border-bottom: 4pt solid #000;
}

.subtotal {
  text-align: left;
  margin-left: 50px;
}
