@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

h1 {
  text-align: center;
  padding: 50px;
  font-size:60px;
  color: #000;
  font-family: 'Rock Salt', cursive;
}
body {
  background-image: url('background-img.png');
  /* background-color: rgba(0, 0, 0, 0.808); */
  background-color: #000
}

.MenuApp {
  /* background-image: url('menu-img.png'); */
  /* background-color: rgba(146, 144, 144, 0.881); */
  background-color: rgba(255, 255, 255, 0.76);
  margin: 50px 200px;
}

ul {
  padding: none;
  list-style: none;
}